{% extends "layouts/public.html.twig" %}
{% block title %}Section {{ section }}{% endblock %}
{% block hero %}
    {% embed "includes/hero.html.twig" %}
        {% block bread %}
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Section</a></li>
            <li class="breadcrumb-item active text-primary">{{ section }}</li>
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block body %}.
    <!-- Blog Start -->
    <div class="container-fluid blog py-5">
        <div class="container py-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                <h4 class="text-primary">Section</h4>
                <h1 class="display-5 mb-4">{{ section }}</h1>
                <p class="mb-0">{{ section.sectionDescription }}</p>
            </div>
            <div class="owl-carousel blog-carousel wow fadeInUp" data-wow-delay="0.2s">
                {% set publishedPosts = posts | filter(post => post.postPublished) %}
                {% for post in publishedPosts %}
                    <div class="blog-item p-4">
                        <div class="blog-img mb-4">
                            <img src="{{ asset('img/service-1.jpg') }}" class="img-fluid w-100 rounded" alt="">
                            <div class="blog-title">
                                <a href="{{ path('post', {id:post.id}) }}" class="btn">Voir le post</a>
                            </div>
                        </div>
                        <a href="{{ path('post', {id:post.id}) }}" class="h4 d-inline-block mb-3">{{ post }}</a>
                        <p class="mb-4">{{ post.postDescription|slice(0, 250) ~ '...' }}</p>
                        <div class="d-flex align-items-center">
                            <img src="{{ asset('img/pomme.jpg') }}" class="img-fluid rounded-circle" style="width: 60px; height: 60px;" alt="">
                            <div class="ms-3">
                                <h5>{{ post.user.username }}</h5>
                                <p class="mb-0">{{ post.postDatePublished|date("F j, Y") }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if publishedPosts|length == 0 %}
                <h2 class="text-center">Aucun post pour cette section 😣</h2>
            {% endif %}
            
        </div>
    </div>
    <!-- Blog End -->
{% endblock %}