{% extends "layouts/public.html.twig" %}
{% block title %}Utilisateur {{ user }}{% endblock %}
{% block hero %}
    {% embed "includes/hero.html.twig" %}
        {% block bread %}
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
            <li class="breadcrumb-item active text-primary">User</li>
            <li class="breadcrumb-item active text-primary">{{ user }}</li>
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block body %}
    <!-- Blog Start -->
    <div class="container-fluid blog py-5">
        <div class="container py-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                <h4 class="text-primary">Post publié par :</h4>
                <h1 class="display-5 mb-4">{{ user }}</h1>
                <p class="mb-0">{{ user.username }}</p>
            </div>
            <div class="owl-carousel blog-carousel wow fadeInUp" data-wow-delay="0.2s">
                {% for post in posts %}
                    <div class="blog-item p-4">
                        <div class="blog-img mb-4">
                            <img src="{{ asset('img/service-1.jpg') }}" class="img-fluid w-100 rounded" alt="">
                            <div class="blog-title">
                                <a href="{{ path('post', {postSlug:post.postSlug}) }}" class="btn">Voir le post</a>
                            </div>
                        </div>
                        <a href="{{ path('post', {postSlug:post.postSlug}) }}" class="h4 d-inline-block mb-3">{{ post }}</a>
                        <p class="mb-4">{{ post.postDescription|truncate(200) }}</p>
                        <div class="d-flex align-items-center">
                            <img src="{{ asset('img/pomme.jpg') }}" class="img-fluid rounded-circle" style="width: 60px; height: 60px;" alt="">
                            <div class="ms-3">
                                <a href="{{ path('user', {id: post.user.id}) }}"><h5 class="username-hover">{{ post.user }}</h5></a>
                                <p class="mb-0">{{ post.postDateCreated|date("F j, Y") }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if posts|length == 0 %}
                <h2 class="text-center">Aucun post pour cette utilisateur 😣</h2>
            {% endif %}
            
        </div>
    </div>
    <!-- Blog End -->
{% endblock %}