<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-primary"><i class="fas fa-search-dollar me-3"></i>OnlyPassionCode</h1>
            <!--<img src="asset('img/logo.png')" alt="Logo">-->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{{ path('app_home') }}" class="nav-item nav-link {{ active is defined and active == "Accueil" ? 'active' : '' }}">Accueil</a>
                <div class="nav-item dropdown">
                    <a href="{{ path('app_home') }}#sections" class="nav-link {{ active is defined and active == "Section" ? 'active' : '' }}" data-bs-toggle="dropdown">
                        <span class="dropdown-toggle">Sections</span>
                    </a>
                    <div class="dropdown-menu m-0">
                        {% for section in sections %}
                            <a href="{{ path('section', {id:section.id}) }}" class="dropdown-item">{{ section }}</a>
                        {% endfor %}
                    </div>
                </div>
                <a href="#" class="nav-item nav-link {{ active is defined and active == "Contact" ? 'active' : '' }}">Nous contacter</a>
                {% if not app.user %}
                    <a href="#" style="display: none;" id="connexionNavItem" class="nav-item nav-link text-primary fw-bold" data-bs-toggle="modal" data-bs-target="#modalConnect"><span class="border border-primary rounded shadow p-2">Connexion</span></a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link" data-bs-toggle="dropdown">
                            <span class="dropdown-toggle text-primary fw-bold">Administration</span>
                        </a>
                        <div class="dropdown-menu m-0">
                            <a href="{{ path('app_admin_section_index') }}" class="dropdown-item">CRUD Sections</a>
                            <a href="{{ path('app_admin_post_index') }}" class="dropdown-item">CRUD Posts</a>
                            <a href="{{ path('app_admin_tag_index') }}" class="dropdown-item">CRUD Tags</a>
                            <a href="{{ path('app_admin_comment_index') }}" class="dropdown-item">CRUD Comments</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
</div>