{% extends 'layouts/admin.html.twig' %}

{% block title %}Section index{% endblock %}

{% block hero %}
    {% embed "includes/hero.html.twig" %}
        {% block bread %}
                <li class="breadcrumb-item"><a href="{{ path('app_admin_section_index') }}">Admin</a></li>
                <li class="breadcrumb-item"><a href="{{ path('app_admin_section_index') }}">CRUD</a></li>
                <li class="breadcrumb-item active text-primary">Sections</li>
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block body %}
    <h1 class="text-primary my-5">Liste de tout les sections</h1>

    <table class="table table-striped">
        <thead class="bg-dark text-white text-center">
            <tr>
                <th>Id</th>
                <th>SectionTitle</th>
                <th>SectionDescription</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for section in sections %}
            <tr>
                <td>{{ section.id }}</td>
                <td>{{ section }}</td>
                <td>{{ section.sectionDescription }}</td>
                <td class="text-center">
                    <a class="btn btn-light me-2" href="{{ path('app_admin_section_show', {'id': section.id}) }}">Voir</a>
                    <a class="btn btn-primary" href="{{ path('app_admin_section_edit', {'id': section.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="mb-5 btn btn-primary" href="{{ path('app_admin_section_new') }}">Créer un nouveau</a>
{% endblock %}
