{% extends 'layouts/admin.html.twig' %}

{% block title %}Section{% endblock %}
{% block hero %}
    {% embed "includes/hero.html.twig" %}
        {% block bread %}
                <li class="breadcrumb-item"><a href="{{ path('app_admin') }}">Admin</a></li>
                <li class="breadcrumb-item"><a href="{{ path('app_admin_section_index') }}">CRUD Sections</a></li>
                <li class="breadcrumb-item active text-primary">Show</li>
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block body %}
    <h1 class="text-primary my-5">{{ section.sectionTitle }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ section.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ section }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ section.sectionDescription }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-block my-5">
        <a class="btn btn-primary" href="{{ path('app_admin_section_edit', {'id': section.id}) }}">Editer</a>
        <a class="btn btn-light" href="{{ path('app_admin_section_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
