{% extends 'layouts/admin.html.twig' %}

{% block title %}Tag Index{% endblock %}
{% block hero %}
    {% embed "includes/hero.html.twig" %}
        {% block bread %}
                <li class="breadcrumb-item"><a href="{{ path('app_admin_tag_index') }}">Admin</a></li>
                <li class="breadcrumb-item"><a href="{{ path('app_admin_tag_index') }}">CRUD</a></li>
                <li class="breadcrumb-item active text-primary">Tags</li>
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block body %}
    <h1 class="text-primary my-5">Liste de tout les tags</h1>

    <table class="table table-striped">
        <thead class="bg-dark text-white text-center">
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.tagName }}</td>
                <td class="text-center">
                    <a class="btn btn-light me-2" href="{{ path('app_admin_tag_show', {'id': tag.id}) }}">Voir</a>
                    <a class="btn btn-primary" href="{{ path('app_admin_tag_edit', {'id': tag.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="mb-5 btn btn-primary" href="{{ path('app_admin_tag_new') }}">Créer un nouveau</a>
{% endblock %}
