{% extends 'layouts/admin.html.twig' %}

{% block title %}Tag{% endblock %}
{% block hero %}
    {% embed "includes/hero.html.twig" %}
        {% block bread %}
                <li class="breadcrumb-item"><a href="{{ path('app_admin_tag_index') }}">Admin</a></li>
                <li class="breadcrumb-item"><a href="{{ path('app_admin_tag_index') }}">CRUD</a></li>
                <li class="breadcrumb-item active text-primary">{{ tag.tagName }}</li>
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block body %}
    <h1 class="text-primary my-5">{{ tag.tagName }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ tag.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ tag.tagName }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-block my-5">
        <a class="btn btn-primary" href="{{ path('app_admin_tag_edit', {'id': tag.id}) }}">Editer</a>
        <a class="btn btn-light" href="{{ path('app_admin_tag_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
